<h3> My Lunches </h3>

<% if @lunchitem.image %>
<img src="<%= @lunchitem.image %>">
<% end %>

<p>Name: <%= @lunchitem.name %></p>


<div class="controls">
  <a href="/lunchitems/<%= @lunchitem.id %>/edit">
    Edit this lunch
  </a>
  <%= button_to("Destroy the lunch", "/lunchitems/#{@lunchitem.id}/delete", :method => :delete) %>
</div>
