
<% if @current_user.present? %>

<h3 class="welcome">Welcome <%= @current_user.name %> ! </h3>


  <div class="home-controls">
    <ul>
      <!-- new.html.erb -->
    <li><%= link_to "Add New LunchOn", new_lunch_item_path(@user) %></li>
      <!-- index.html.erb -->
    <li><%= link_to "Everyone's LunchOn's", lunch_items_path %></li>
      <!-- show.html.erb -->
    <li><%= link_to "My Past LunchOn's", mylunchons_path %></li>

    </ul>
  </div>

<% else %>
  <h1 class="title"> lunchOn </h1>
  <h3 class="tagline"> Find lunch ideas and share your lunch.. </h3>
<% end %>
