/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("http://res.cloudinary.com/da3wbeaed/image/upload/v1480636688/New_background_sp1tkj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brand logo {
  font-size: 30px;
}

.main-container {
  min-height: calc(100vh - 180px);
  border-radius: 20px;
  background: rgba(0,0,0,0.4);
  // border: 1px dashed black;
  text-align: center;
  width: 900px;
  margin-left: 15%;
  text-align: center;
}

.my-lunch {
  font-size: 30px;
  text-decoration: none;
}

label {
  color: white;
  font-size: 15px;
  text-shadow: 0 3px 0 rgba(0,0,0,0.2);
}

input {
  color: white;
  font-size: 20px;
}

#nav-mobile {
  position: fixed;
}

.nav-wrapper {
  position: fixed;
}
